<% include ../partials/header %>
<title>Update <%= currentUser.name %>'s profile - yummy.li</title>

<link rel="stylesheet" type="text/css" href="/css/basic.css">
<link rel="stylesheet" type="text/css" href="/minified/css/profile-style.css">

<% include ../partials/navbar-body %>
<% include ../partials/modal-hiw %>

<div class="jumbotron jumbo-bg-profile" id="top">
	<div class="header-text">
		<h2>Hi, <%= currentUser.name %>!</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sx-12">
			<div class="image-cropper">
				<% if(currentUser.image == undefined){ %>
                    <div id="profile-pic">
                        <img src="/img/profile_user.jpg" class="rounded" />
                    </div>
                <% } else { %>
                    <div id="profile-pic">
                        <img src="<%= currentUser.image %>" class="rounded" />
                    </div>
                <% } %>
			</div>
		</div>
		<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sx-12">
			<form class="form-horizontal" action="/profile/<%= currentUser._id %>/update?_method=PUT" method="POST">
				<div>
					<label class="control-label" for="email">First Name:</label>
					<input name="name" type="text" value="<%= currentUser.name %>" class="form-control input-md">
				</div>
				<div>
					<label class="control-label" for="email">Last Name:</label>
					<input name="surname" type="text" value="<%= currentUser.surname %>" class="form-control input-md">
				</div>
				<div>
					<label class="control-label" for="email">Your Location:</label>
					<% if(currentUser.location == undefined){ %>
                        <input type="text" class="form-control" name="location" placeholder="Where are you from?">
                    <% } else { %>
                        <input type="text" class="form-control" name="location" value="<%= currentUser.location %>">
                    <% } %>
				</div>
				<div>
					<label class="control-label" for="email">Your favorite ingredients:</label>
					<% if(currentUser.favFood == undefined){ %>
                        <input type="text" class="form-control"  id="search" name="favs" placeholder="What's your favorite food?">
                    <% } else { %>
                        <input type="text" class="form-control" id="search" name="favs" value="<%= currentUser.favFood %>">
                    <% } %>
				</div>
				<div>
					<label class="control-label" for="email">About you:</label>
					<% if(currentUser.bio == undefined){ %>
                        <textarea class="form-control" rows="5" placeholder="Your bio" name="bio"></textarea>
                    <% } else { %>
                        <textarea class="form-control" rows="5" placeholder="Your bio" name="bio"><%= currentUser.bio %></textarea>
                    <% } %>
				</div>
				<br>
				<div>
				    <!-- Button -->
					<button id="signup" name="signup" class="btn btn-default btn-signup btn-block">Update your profile</button>
				</div>
			</form>
		</div>
	</div>	
</div>
<div class="dummy"></div>

<% include ../partials/footer %>
<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>

	<script type="text/javascript" src="/components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/components/bootstrap-tokenfield/docs-assets/minified/js/typeahead.bundle.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/minified/js/docs.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/minified/js/navbar.js" charset="UTF-8"></script>
    
</body>
</html>