<% include ../partials/header %>
<title><%= currentUser.name %>'s profile - yummy.li</title>

<link rel="stylesheet" type="text/css" href="/css/basic.css">
<link rel="stylesheet" type="text/css" href="/minified/css/profile-style.css">

<% include ../partials/navbar-body %>

<script type="text/javascript" src="/components/filestack/filestack.js"></script>

<div class="jumbotron jumbo-bg-profile" id="top">
	<div class="header-text">
		<h2>Hi, <%= currentUser.name %>!</h2>
	</div>
</div>

<div class="container">
	<div class="row">
				<div class="col-lg-4 col-md-4 col-sx-12">
					<div class="image-cropper">
						<% if(currentUser.image == undefined){ %>
		                    <div id="profile-pic">
		                        <img src="/img/profile_user.jpg" class="rounded" />
		                    </div>
		                <% } else { %>
		                    <div id="profile-pic">
		                        <img src="<%= currentUser.image %>" class="rounded" />
		                    </div>
		                <% } %>
					</div>
					<div class="buttons-panel">
						<a href="/profile/<%= currentUser._id %>/update" class="btn btn-default btn-def btn-block" role="button">
							<i class="fa fa-pencil" aria-hidden="true"></i> Update your profile
						</a>
						<form class="form-horizontal" action="/profile/<%= currentUser._id %>/profilePicture?_method=PUT" method="POST" id="uploadFile">
							<input type="filepicker" data-fp-apikey="AplOSzF0fTtmzg0bfVQOiz" onchange="addImageURL(event.fpfile.url)">
							<input type="hidden" name="image" id="image" value="">
						</form>
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sx-12">
					<h2><%= currentUser.name %> <%= currentUser.surname %></h2>
					<h4><%= currentUser.location %></h4>
					<h5><%= currentUser.username %></h5>
					<h4>
					<% currentUser.favFood.forEach(function(favFood){ %>
						<span class="label label-default"><%= favFood %></span>
					<% }) %>
					</h4>
					<p class="well">
						<%= currentUser.bio %>
					</p>
					<div>
						<% num = currentUser.recipes.length %>
					    <a href="/profile/<%= currentUser._id %>/wishlist" class="btn btn-default btn-wishlist" role="button">
							<i class="fa fa-heart-o" aria-hidden="true"></i> My Wishlist (<%= num %>)
						</a>
					</div>	
				</div>
				<div class="dummy"></div>
			</div>
		</div>
</div>

<script>
	function addImageURL(data) {
		document.getElementById('image').value = data;
		$("#uploadFile").submit();
	} 
</script>

<% include ../partials/footer %>
<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>

    <script type="text/javascript" src="/minified/js/navbar.js" charset="UTF-8"></script>
</body>
</html>