<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/profile-style.css">
<% include ../partials/navbar-body %>

<div class="jumbotron jumbo-bg-profile" id="top">
	<div class="header-text">
		<h2>Your Profile</h2>
	</div>
</div>

<div class="container">
	<div class="row">
				<div class="col-lg-4 col-md-4 col-sx-12">
					<div class="image-cropper">
						<img src="<%= currentUser.image %>" class="rounded" />
					</div>
				</div>
				<div class="col-lg-8 col-md-8 col-sx-12">
					<h2><%= currentUser.name %></h2>
					<h5><%= currentUser.username %></h5>
				</div>
				<div>
				    <a href="/profile/<%= currentUser._id %>/update" class="btn btn-default btn-def" role="button">
					    Update your profile
					</a>
				</div>
				<div>
				    <a href="/profile/<%= currentUser._id %>/wishlist" class="btn btn-default btn-wishlist" role="button">
						<i class="fa fa-heart-o" aria-hidden="true"></i> My Wishlist
					</a>
				</div>
				<div class="dummy"></div>
			</div>
		</div>
</div>

<% include ../partials/footer %>
<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>
    <script type="text/javascript" src="/js/navbar.js" charset="UTF-8"></script>
</body>
</html>