<% include ../partials/header %>
<title><%= recipe.title %> - yummy.li</title>

<link rel="stylesheet" type="text/css" href="/css/basic.css">
<link rel="stylesheet" type="text/css" href="/minified/css/recipe-style.css">

<% include ../partials/navbar-body %>

<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59133ce692f23c0f"></script> -->

		<div class="jumbotron jumbo-bg-show" id="top">
			<div class="header-text">
				<h2><%- recipe.title %></h2>
			</div>
		</div>
		<div class="container">
			<div class="col-lg-4 col-md-4 col-xs-12">
				<div class="recipe-image">
					<img src="<%= recipe.image_url %>">
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-xs-12">
				<div class="row icons-field">
					<div class="col-md-8 col-xs-12">
						<a href="<%= recipe.source_url %>" class="btn btn-default btn-def" role="button" target="blank">Original at <%= recipe.publisher %></a>
						<% if(!currentUser){ %>
									          	<a href="/auth/login" class="btn btn-default btn-wishlist" role="button">
												  <i class="fa fa-heart-o" aria-hidden="true"></i></span> Add to Wishlist
											  	</a>
									        <% } else { %>
									        	<% var userRecipes = currentUser.recipes; %>
									        	<% var found = false; %>
									        	<% for (var i = 0; i < userRecipes.length; i++) { %>
									        		<% if(userRecipes[i].id == recipe.recipe_id) { %>
									        			<% found = true; %>
									        			<% break; %>
									        		<% } %>
									        	<% } %>
								        		<% if(found) { %>
								        			<form action="/wishlist/<%= currentUser._id %>/<%= recipe.recipe_id %>/remove?_method=PUT" method="POST">
				            							<button class="btn btn-default btn-wishlist">
				            							    <i class="fa fa-times" aria-hidden="true"></i></span> Remove item
				            							</button>
				            						</form>
								        		<% } else { %>
								        			<form action="/wishlist/<%= currentUser._id %>/<%= recipe.recipe_id %>?_method=PUT" method="POST">
										        		<input type='hidden' name='id' value='<%= recipe.recipe_id %>' />
										        		<input type='hidden' name='title' value='<%- recipe.title %>' />
										        		<input type='hidden' name='image_url' value='<%= recipe.image_url %>' />
										        		<input type='hidden' name='publisher' value='<%= recipe.publisher %>' />
										                <button class="btn btn-default btn-wishlist">
										                	<i class="fa fa-heart-o" aria-hidden="true"></i></span> Add to Wishlist
										                </button>
										            </form>
								        		<% } %>
							            <% } %>
				</div>
			</div>
			<div class="row info">
						<!--<br>-->
						<!--<div class="addthis_inline_share_toolbox"></div>-->
						<h3>Ingredients</h3>
						<p class="table-responsive">
							<table class="table table-striped">
							    <% var ingredients = recipe.ingredients %>
								<tbody>
								    <% for(var i = 0; i < ingredients.length; i++){ %>   
    									<tr>
    										<td>
    											<%= recipe.ingredients[i] %>
    										</td>
    									</tr>
									<% }; %>
								</tbody>
							</table>
						</p>
						<h3>Directions</h3>
						<p>
							Please view on <a href="<%= recipe.source_url %>" target="blank"><%= recipe.publisher %></a>
    						<p class="well">
    						   <strong>Why don't we display directions?</strong>
    						   <br><br>
    						          We appreciate the creative talent of our publishers and try to give back by requiring that you visit their site to see the recipe directions.
    						   
    						</p>
						</p>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
<% include ../partials/modal-hiw %>
<% include ../partials/html-footer %>

    <script type="text/javascript" src="/minified/js/navbar.js" charset="UTF-8"></script>
    
</body>
</html>